body {
  font-family: "Red Rose", "Questrial", "Elsie";
  max-width: 1000px;
}
.page {
  margin: 60px 10% 10% 10%;
}

.intro-text {
  border: solid black 1pt;
  padding: 100px 20px 20px 20px;
}
p {
  font-family: "Questrial";
}
.intro-pic {
  display: flex;
  position: relative;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.cover-pic-img {
  width: 60%;
  margin: auto;
}
.launch,
.yr2017-2018,
yr2019-2020 {
  padding-top: 5%;
  padding-bottom: 5%;
}

#riri-launch {
  width: 100%;
  margin: auto;
}

li {
  display: block;
  text-align: center;
  list-style-type: none;
  padding: 3%;
  /* font-size: 0.8rem; */
}
li p {
  padding: 10px;
}
#bodylava,
#dirty30,
#chill {
  width: 260px;
}
.concealers {
  margin-left: -12%;
}
#concealer-img {
  width: 70%;
}
@media (min-width: 600px) {
  h1 {
    font-size: 40px;
    letter-spacing: 1.3rem;
  }
  .cover-pic-img {
    width: 400px;
  }
  .launch-highs {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 900px) {
  .heading {
    /* width: 55%;
    margin-left: -8%; */
    display: flex;
    flex-wrap: wrap;
  }
  .intro-text {
    margin-left: -5%;
    width: 300px;
  }

  .cover-pic-img {
    width: 400px;
  }
  .intro-pic {
    margin-right: -5%;
  }
  .launch,
  yr2019-2020 {
    display: flex;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 30%;
  }
  #concealer-img {
    width: 400px;
  }
}
