.page {
  margin: 60px 10% 10% 10%;
  max-width: 1000px;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  border: solid black 1pt;
  padding: 100px 20px 20px 20px;
}

.intro-pic-grouping {
  display: flex;
}
.intro-pic-1 {
  display: flex;
  position: relative;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.cover-pic-img-1 {
  width: 60%;
  margin: auto;
  z-index: -1;
}
.cover-pic-img-2 {
  position: absolute;
  width: 35%;
  margin: auto;
  z-index: 10;
  transform: translate(0%, 75%);
}
li {
  display: block;
}
li img {
  width: 300px;
}
@media (min-width: 600px) {
  h1 {
    font-size: 40px;
    letter-spacing: 1.3rem;
  }
  .cover-pic-img-1 {
    width: 400px;
  }
  .cover-pic-img-2 {
    width: 200px;
  }
}
@media (min-width: 900px) {
  .heading {
    width: 55%;
    margin-left: -8%;
  }
  .intro-pic-grouping {
    margin: 0;
    flex-wrap: wrap;
  }
  .cover-pic-img-1 {
    margin: 0;
  }
  .cover-pic-img-2 {
    width: 200px;
  }
}
