.page {
  margin: 60px 10% 10% 10%;
  max-width: 1000px;
}
/* .heading {
  
} */
.page-title {
  /* display: flex;
  flex-wrap: wrap; */
  border: solid black 1pt;
  padding: 100px 20px 20px 20px;
}

.intro-pic {
  display: flex;
  position: relative;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.cover-pic-img {
  width: 60%;
  margin: auto;
  z-index: -1;
}
h2 {
  line-height: 2.3rem;
}
ul {
  padding: 0;
  list-style-type: none;
  margin: auto;
  /* display: flex;
  justify-content: center; */
}

li {
  padding: 5px;
  text-align: center;
  width: 60%;
  /* margin: 0 2% 10% 2%; */
  margin: auto;
  border: black solid 1pt;
}
li img {
  width: 250px;
}

li a {
  text-decoration: none;
  line-height: 1.7rem;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: color 0.5s;
}

li a :hover,
:active {
  color: rgba(124, 85, 85, 0.479);
  transition: color 0.5s;
}

li a :active {
  text-decoration: underline;
}
.picbox:hover {
  background-color: rgba(161, 109, 109, 0.37);
  transition: all 0.5s;
}

@media (min-width: 600px) {
  h1 {
    font-size: 40px;
    letter-spacing: 1.3rem;
  }
  .cover-pic-img {
    width: 400px;
  }
  li {
    border: rgba(0, 0, 0, 0) solid 0pt;
  }
  .picbox {
    /* position: absolute; */
    height: 270px;
    width: 320px;
    border: black solid 1pt;
    z-index: -1000;
    transform: translate(0%, -110%);
  }
}
@media (min-width: 900px) {
  .heading {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0% 10% 0% 10%; */
  }
  ul {
    display: flex;
    justify-content: center;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 15px;
    line-height: 1.2rem;
  }
  li {
    margin: 0 2% 10% 2%;
  }
  .page-title {
    width: 45%;
    margin-left: -8%;
    margin-bottom: 10%;
    padding-top: 50%;
  }
  .intro-pic {
    margin-right: -8%;
    flex-wrap: wrap;
  }
  .cover-pic-img {
    width: 400px;
    transform: translate(0%, -7%);
  }
  .picbox {
    /* position: absolute; */
    height: 270px;
    width: 320px;
    border: black solid 1pt;
    z-index: -1000;
    transform: translate(0%, -110%);
  }
}
@media (min-width: 1250px) {
  .page {
    margin: auto;
  }
  .cover-pic-img {
    width: 520px;
  }
}
