header {
  margin-bottom: 3rem;
}

p {
  line-height: 1.6;
}

a.see-all {
  font-size: 0.8em;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

li h1,
h2 {
  font-weight: 300;
}

img {
  width: 100%;
}

section.cast ul li {
  width: 25%;
}

ul.shows #game-of-thrones,
#unbreakable-kimmy-schmidt {
  border-top: 1px solid black;
}

nav ul li.selected a {
  font-weight: 700;
  color: black;
}

.cast li div {
  font-size: 0.8rem;
}
.cast li div:first-of-type {
  font-weight: bold;
}
.cast li div:last-of-type {
  font-style: italic;
}

.seasons ul li:last-of-type::after {
  content: " *";
}

.seasons::after {
  content: "Final Season";
  font-size: 0.7rem;
  color: #999;
}
